@{
    ViewBag.Title = "About me";
}
<font color="orange">
    <h2>A few words about the application's creator</h2>
    <h3>Student of Applied Computer Science at the University of Lodz. I've been programming in C++ for few years now. Now I'm learning Java Kotlin and Android.</h3>

    <p>This is a final application for the ASP.net</p>
</font>
