@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <font color="orange">
        <h1>Classic Garage</h1>
    </font>
    <style>
        .jumbotron {
            background-image: url(https://wallpaperscraft.com/image/chevrolet_corvette_z06_blue_side_view_mountain_103870_1920x1080.jpg);
            color: white;
            background-size: cover;
        }

        h1 {
            display: block;
            font-size: 2em;
            margin-top: 2.67em;
            margin-bottom: 2.50em;
            margin-left: 0;
            margin-right: 0;
            font-weight: bold;
        }
    </style>

    <p class="lead">Classic Garage is the best Car market.</p>
    <p><a href="../Ad/CarView" class="btn btn-primary btn-lg">Buy a Car &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <style>
            .car {
                background-image: url(https://cdn.searchenginejournal.com/wp-content/uploads/2015/04/Depositphotos_59977559_m-2015-760x400.jpg);
                color: white;
                background-size: cover;
                width: 350px;
                height: 200px;
            }
        </style>
        <div class="car">
            <p><a href="../Home/About" class="btn btn-primary btn-lg">About us &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <style>
            .parts {
                background-image: url(http://nextagency.pl/wp-content/uploads/2017/09/1129675383-autoz%C5%82om-warszawa-380x250.jpg);
                color: white;
                background-size: cover;
                width: 350px;
                height: 200px;
            }
        </style>
        <div class="parts">
            <p><a class="btn btn-primary btn-lg" href="../Part/Index">Do you wanna buy parts? &raquo;</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <style>
            .contact {
                background-image: url(https://thumbs.dreamstime.com/t/strona-internetowa-kontakt-my-ikony-na-poczta-ja-32678534.jpg);
                color: white;
                background-size: cover;
                width: 350px;
                height: 200px;
            }
        </style>
        <div class="contact">
            <p><a class="btn btn-primary btn-lg" href="../Home/Contact">Do you want to contact with us? &raquo;</a></p>
        </div>
    </div>
</div>